.page {
    margin: 0 auto;
    width: 960px;
}
.name {
    color: #ffffff;
    background-color: #4aaaa5;
    float: left;
}
.sitenav {
    float: right;
}
.sitenav, li {
    display: inline;
}
.main-about {
    clear: both;
    width: 650px;
    margin-right: 0;
    display: inline-block;
    float: left;
}
footer {
    text-align: center;
    clear: both;
}
.sidebar {
    width: 250px; 
    float: right;
    margin-right: 0;
}
.imgme {
    float: left;
    padding-right: 30px;
}
.clearfix::after{
    Content: "";
    Display: block;
    Clear: both;
}
